# Analysing the Median and Mean of UK Earnings by Job Type and Location

Following on from the cleaning performed in the `final_cleaning` notebook. I now wish to actually perform some data analysis on the `.csv` files I was able to produce.

In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn, rand
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sbn

Importing the means and medians `.csv`s produced during the cleaning phase

In [3]:
means = pd.read_csv("mean_earnings.csv")
meds = pd.read_csv("median_earnings.csv")

Showing the first few rows of these `.csv`s to show their structure

In [4]:
means.head()

,Unnamed: 0,type,location,mean
0,0,Processing and preserving of meat,Not classified,24318
1,1,Processing and preserving of meat,Greater Manchester MC,21129
2,2,Processing and preserving of meat,Lancashire,16195
3,3,Processing and preserving of meat,North Yorkshire,21797
4,4,Processing and preserving of meat,Lincolnshire,17584

Producing pivot tables of each `.csv` which give the type of job along the vertical axis and the location along the horizontal axis

In [5]:
mean_piv = means.pivot("type","location","mean")
median_piv = meds.pivot("type","location","median")

Finally listing grouped and sorted tables containing the mean and median earnings from each given

In [6]:
loc_mean = means[["location","mean"]].groupby(by="location").mean().sort_values("mean",ascending=False)

In [8]:
loc_med = meds[["location","median"]].groupby(by="location").mean().sort_values("median",ascending=False)