# Performing final clean

This is a streamlined version of what was performed in the `cleaning` notebook

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn, rand
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sbn

In [2]:
xls = pd.ExcelFile("edited_table.xlsx")
dframe = xls.parse("All")
dframe.set_axis(["description","code","number_thou","median","perc_change_med","mean","perc_change_mean",
                 "10","20","25","30","40","60","70","75","80","90"],axis=1,inplace=True)

In [9]:
mean_table = dframe.loc[~dframe["mean"].isin(["x",np.nan])].reset_index()
med_table = dframe.loc[~dframe["median"].isin(["x",np.nan])].reset_index()

In [11]:
red_table_mean = pd.DataFrame(mean_table.description.str.rsplit(",",1).tolist(),columns=["type","location"])
red_table_med = pd.DataFrame(med_table.description.str.rsplit(",",1).tolist(),columns=["type","location"])

In [12]:
means = mean_table["mean"]
meds = med_table["median"]

In [13]:
mean_join = red_table_mean.merge(means,left_index=True, right_index=True)
med_join = red_table_med.merge(meds,left_index=True, right_index=True)

In [15]:
mean_join.sort_values("mean", ascending=False)

,type,location,mean
2068,Fund management activities,Inner London,111473
2040,Other activities auxiliary to financial servic...,Inner London,110279
2002,Other monetary intermediation,Inner London,109961
2008,"Other financial service activities, except ins...",Inner London,100819
1693,Cargo handling,Leicestershire,88667
2234,Other research and experimental development on...,Essex,87916
1408,Retail sale of automotive fuel in specialised ...,Surrey,87854
2065,Other activities auxiliary to insurance and pe...,Inner London,81080
2059,Activities of insurance agents and brokers,Inner London,80339
1012,Other specialised construction activities n.e.c.,Hertfordshire,78473
740,Production of electricity,Gloucestershire,75827
2181,Business and other management consultancy acti...,Inner London,74078
1981,Central banking,Inner London,68757
2014,Life insurance,Inner London,67693
496,Manufacture of optical instruments and photogr...,Suffolk,67184
114,Manufacture of tobacco products,Not classified,66496
1881,"Motion picture, video and television programme...",Inner London,65912
359,Processing of nuclear fuel,Not classified,65434
1689,Service activities incidental to air transport...,Hampshire,65318
741,Production of electricity,Somerset,64604
1969,Other information technology and computer serv...,Inner London,64462
608,Manufacture of motor vehicles,Warwickshire,64420
1965,Other information technology and computer serv...,Hampshire,64418
736,Production of electricity,Lancashire,64101
1980,News agency activities,Inner London,64083
1889,Television programming and broadcasting activi...,Outer London,63905
756,Distribution of electricity,Lincolnshire,63114
1919,Other telecommunications activities,Hampshire,63008
743,Production of electricity,Kent,62873
2027,Non-life insurance,Inner London,62825
...,...,...,...
3015,Child day-care activities,West Sussex,8624
1813,Event catering activities,Merseyside MC,8521
1449,Retail sale of sporting equipment in specialis...,Tyne and Wear MC,8500
2637,Pre-primary education,Somerset,8480
3135,Hairdressing and other beauty treatment,Cambridgeshire,8357
2407,General cleaning of buildings,Kent,8283
1465,Retail sale of clothing in specialised stores,Cambridgeshire,8275
1446,Retail sale of newspapers and stationery in sp...,Staffordshire,7916
3161,Activities of households as employers of domes...,Not classified,7799
1521,Retail sale of second-hand goods in stores,Essex,7683
1823,Other food service activities,Staffordshire,7664
1588,Taxi operation,Norfolk,7586
1100,"Agents involved in the sale of textiles, cloth...",Not classified,7471
1480,Retail sale of footwear and leather goods in s...,Oxfordshire,7457
2289,Renting and leasing of other personal and hous...,West Yorkshire MC,7255
2264,"Other professional, scientific and technical a...",Warwickshire,7160
2402,General cleaning of buildings,Nottinghamshire,7157
2400,General cleaning of buildings,Greater Manchester MC,7134
2391,Combined facilities support activities,Devon,7099
1447,Retail sale of newspapers and stationery in sp...,Devon,6983
1397,"Retail sale of bread, cakes, flour confectione...",Staffordshire,6897
1789,Restaurants and mobile food service activities,Lincolnshire,6637
2107,Management of real estate on a fee or contract...,Staffordshire,6366
1827,Other food service activities,East Sussex,6101
3074,Other amusement and recreation activities,South Yorkshire MC,6056
1587,Taxi operation,Essex,5498
1489,Retail sale of cosmetic and toilet articles in...,Kent,5229
2403,General cleaning of buildings,Worcestershire,5112
2404,General cleaning of buildings,Somerset,4277
2406,General cleaning of buildings,East Sussex,3822

In [16]:
med_join.sort_values("median", ascending=False)

,type,location,median
972,Other monetary intermediation,Inner London,78555
839,Cargo handling,Leicestershire,77883
1003,Fund management activities,Inner London,71179
990,Other activities auxiliary to financial servic...,Inner London,69882
998,Activities of insurance agents and brokers,Inner London,65898
403,Production of electricity,Somerset,64611
401,Production of electricity,Lancashire,62715
68,Manufacture of tobacco products,Not classified,61947
970,Other monetary intermediation,Warwickshire,59982
977,Life insurance,Inner London,58679
121,Manufacture of refined petroleum products,Not classified,58307
602,Wholesale of office furniture,Inner London,57864
961,News agency activities,Inner London,57181
325,Manufacture of motor vehicles,Outer London,55591
422,Trade of gas through mains,Surrey,54540
942,Other telecommunications activities,Suffolk,54073
1044,Business and other management consultancy acti...,Inner London,53274
197,Processing of nuclear fuel,Lancashire,52542
1039,Activities of head offices,Buckinghamshire,52445
568,Wholesale of tobacco products,Not classified,52212
922,Television programming and broadcasting activi...,Outer London,52089
957,Other information technology and computer serv...,Inner London,51938
321,Manufacture of motor vehicles,Essex,51707
320,Manufacture of motor vehicles,Warwickshire,51611
416,Manufacture of gas,Warwickshire,49358
196,Processing of nuclear fuel,Cumbria,48751
415,Manufacture of gas,Not classified,48433
949,Computer programming activities,Inner London,48181
67,Manufacture of soft drinks; production of mine...,Northamptonshire,48085
397,Repair and maintenance of transport equipment ...,Not classified,47448
...,...,...,...
651,Retail sale in non-specialised stores with foo...,Cumbria,10684
886,Restaurants and mobile food service activities,South Yorkshire MC,10608
901,Beverage serving activities,Not classified,10477
714,Retail sale of clothing in specialised stores,Norfolk,10474
711,Retail sale of clothing in specialised stores,Not classified,10416
710,Retail sale of newspapers and stationery in sp...,Not classified,10295
771,Taxi operation,Not classified,10268
713,Retail sale of clothing in specialised stores,West Midlands MC,10180
1448,Child day-care activities,West Yorkshire MC,9992
1395,Dental practice activities,Warwickshire,9934
890,Restaurants and mobile food service activities,Hampshire,9910
698,"Retail sale of hardware, paints and glass in s...",South Yorkshire MC,9902
888,Restaurants and mobile food service activities,West Midlands MC,9793
386,Other manufacturing n.e.c.,Hampshire,9785
887,Restaurants and mobile food service activities,West Yorkshire MC,9651
663,Retail sale in non-specialised stores with foo...,Devon,9605
1491,Hairdressing and other beauty treatment,Not classified,9549
690,"Retail sale of bread, cakes, flour confectione...",South Yorkshire MC,9537
1389,General medical practice activities,Hertfordshire,9503
693,Retail sale of beverages in specialised stores,Greater Manchester MC,9252
1112,Temporary employment agency activities,Hertfordshire,9174
720,Dispensing chemist in specialised stores,Worcestershire,8956
1499,Other personal service activities n.e.c,Gloucestershire,8672
684,Retail sale of fruit and vegetables in special...,Outer London,8374
709,Retail sale of books in specialised stores,Cumbria,8122
735,Retail sale of second-hand goods in stores,Essex,7535
1142,General cleaning of buildings,Not classified,6743
692,"Retail sale of bread, cakes, flour confectione...",Staffordshire,6264
773,Taxi operation,Essex,4933
1143,General cleaning of buildings,Somerset,3443